.navbar
    position: absolute
    width: 100%
    left: 0
    top: 0
    &-wrap
        display: flex
        align-items: center
        justify-content: space-between
        flex-wrap: wrap
        min-height: 80px
    &__mobile, &__landline
        text-align: right
    &__phone
        display: block
        font-size: 16px
        +bold
        text-decoration: none
        color: $text-color
    &__small-text
        display: block
        font-size: 12px
        +light
        text-decoration: none
        color: $text-color
@media (max-width: 768px)
    .navbar
        &__mobile, &__landline
            display: none
@media (max-width: 445px)
    .navbar
        &-wrap
            flex-direction: column
            padding-top: 20px
        &__logo
            margin-bottom: 20px

    