.review
    padding: 60px 0
    background-color: $bg-color
    &__title
        margin-top: 0
        font-size: 30px
        text-align: center
    &-wrap
        margin-bottom: 60px
    &-slider
        max-width: 828px
        margin: auto
    &__btn
        display: block
        margin: 0 auto
@media (max-width: 320px)
    .review
        display: none
    
        
        